<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectqwerty001"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-nzv485t5hvpex04" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />

        <activity
            android:name="com.example.projectqwerty001.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.SelectUserType"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.SELECTUSERTYPE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.AddSubjectsActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.ADDSUBJECTSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.CreateTimeTable"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.CREATETIMETABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.example.projectqwerty001.DummyShowSubjects"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.DUMMYSHOWSUBJECTSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.NoSubjectsAdded"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.NOSUBJECTSADDED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.AddNewSubject"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.ADDNEWSUBJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.SubjectList"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.SUBJECTLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.EditSubject"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.EDITSUBJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.NewTimetableEntry"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.NEWTIMETABLEENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.AddNewTimetableEntry"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.ADDNEWTIMETABLEENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.SelectProfileManagementAttributes"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.SELECTPROFILEMANAGEMENTATTRIBUTES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.SelectLocation"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.SELECTLOCATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.SetRadius"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.SETRADIUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.EditTimeTableEntry"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.EDITTIMETABLEENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.SetupCompleted"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.SETUPCOMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.HomeScreen"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.HOMESCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.Notice"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.NOTICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectqwerty001.CreateNewNotice"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.projectqwerty001.CREATENEWNOTICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".ProfileManagerService" >
        </service>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>